@font-face {
    font-family: 'aditional';
    src: url('fonts/aditional.ttf?z9pbsu') format('truetype'), url('fonts/aditional.woff?z9pbsu') format('woff'), url('fonts/aditional.svg?z9pbsu#aditional') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="flaticon-"],
[class*=" flaticon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'aditional' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-location:before {
    content: "\e900";
}

.flaticon-clock:before {
    content: "\e901";
}

.flaticon-logo_social_media_www .path1:before {
    content: "\e902";
    color: rgb(255, 255, 255);
}

.flaticon-logo_social_media_www .path2:before {
    content: "\e903";
    margin-left: -1em;
    color: #e2007a;
}

.flaticon-logo_social_media_www .path3:before {
    content: "\e904";
    margin-left: -1em;
    color: #e2007a;
}

.flaticon-logo_social_media_www .path4:before {
    content: "\e905";
    margin-left: -1em;
    color: #e2007a;
}

.flaticon-facebook:before {
    content: "\e906";
}

.flaticon-linkedin:before {
    content: "\e907";
}

.flaticon-calendar:before {
    content: "\e908";
}

.flaticon-heart:before {
    content: "\e9da";
}